---
layout: archive
title: Zerol's Paintings
---

<ul class="posts">
		{% assign techPosts = site.categories.Tech | compact %}
		{% assign essayPosts = site.categories.Essay | compact %}
		{% assign designPosts = site.categories.Design | compact %}
		{% assign readingPosts = site.categories.Reading | compact %}
		{% assign discoverPosts = site.categories.Discover | compact %}
		{% assign strawHatPosts = site.categories.StrawHat | compact  %}
		{% assign archivePosts = techPosts | concat: essayPosts | concat: readingPosts | concat: strawHatPosts | concat: designPosts | concat: discoverPosts %}
		{% assign posts = archivePosts | sort: 'date' | reverse %}
		
		{% for post in posts %}
		{% assign curYear = post.date | date: '%Y' %}
		{% assign previousPostIndex = forloop.index0 | minus: 1 %}
		{% assign previousPost = posts[previousPostIndex] %}
		{% assign previousPostYear = previousPost.date | date: '%Y' %}

		{% if curYear != previousPostYear and forloop.index0 != 0 %}
			<div class="cnt">
				<h3>{{ post.date | date: '%Y' }}</h3>
			</div>
		{% endif %}		
		<li>
			<span class="date" cate="{{ post.categories }}">{{ post.date | date:"%Y-%m-%d" }}</span> 
			<span class="category">{{ post.category}}/{{post.type}}/{{post.tags}}</span>
			<a href="{{ post.url }}">{{ post.title }}</a>
		</li>
		{% endfor %}
</ul>
