---
layout: wiki
title: Zerol's Paintings
---

<ul class="posts">
    {% assign posts = site.categories.Wiki | sort: 'date' | reverse %}
    {% for post in posts %}
        {% assign curYear = post.date | date: '%Y' %}
        {% assign previousPostIndex = forloop.index0 | minus: 1 %}
        {% assign previousPost = posts[previousPostIndex] %}
        {% assign previousPostYear = previousPost.date | date: '%Y' %}

        {% if curYear != previousPostYear and forloop.index0 != 0 %}
            <div class="cnt">
                <h3>{{ post.date | date: '%Y' }}</h3>
            </div>
        {% endif %}		
        <li>
            <span class="date" cate="{{ post.categories }}">{{ post.date | date:"%Y-%m-%d" }}</span> 
            <span class="category">{{post.type}}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
    {% endfor %}
</ul>
