<div id="footer">
    <p style="color:#ccc;font-size:12px;text-align: center">要有最朴素的生活和最遥远的梦想
        <p style="clear:both"></p>
</div>

<script type="text/javascript" src="/assets/drawer/rx_drawer.js"></script>
<script>
    var category = location.pathname;
    if (category == '/') {
        // document.getElementById('drawer-category-all').style.textDecoration = "underline";
    } else if (category == '/category/tech.html') {
        document.getElementById('drawer-category-tech').style.textDecoration = "underline";
    } else if (category == '/category/essay.html') {
        document.getElementById('drawer-category-essay').style.textDecoration = "underline";
    } else if (category == '/category/reading.html') {
        document.getElementById('drawer-category-reading').style.textDecoration = "underline";
    } else if (category == '/views/quotes.html') {
        document.getElementById('drawer-category-quotes').style.textDecoration = "underline";
    } else if (category == '/views/discover.html') {
        document.getElementById('drawer-category-discover').style.textDecoration = "underline";
    } else if (category == '/views/chocolates.html') {
        document.getElementById('drawer-category-chocolates').style.textDecoration = "underline";
    } else if (category == '/views/strawhat.html') {
        document.getElementById('drawer-category-captain').style.textDecoration = "underline";
    } else if (category == '/views/wiki.html') {
        document.getElementById('drawer-category-wiki').style.textDecoration = "underline";
    } else if (category == '/views/archive.html') {
        document.getElementById('drawer-category-archive').style.textDecoration = "underline";
    }
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110574634-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110574634-1');
</script>