<div id="footer">
    <p style="color:#ccc;font-size:12px;text-align: center">never too late to do the right thing</p>
    <p style="clear:both"></p>
</div>
<script type="text/javascript" src="/assets/drawer/rx_drawer.js"></script>
<script>
    var category = location.pathname;
    if (category == '/') {
        // document.getElementById('drawer-category-all').style.textDecoration = "underline";
    } else if (category == '/category/tech.html' || (/test/).test(category)) {
        document.getElementById('drawer-category-tech').style.textDecoration = "underline";
    } else if (category == '/category/essay.html'|| (/essay/).test(category)) {
        document.getElementById('drawer-category-essay').style.textDecoration = "underline";
    } else if (category == '/category/reading.html' || (/reading/).test(category)) {
        document.getElementById('drawer-category-reading').style.textDecoration = "underline";
    } else if (category == '/views/quotes.html' || (/quotes/).test(category)) {
        document.getElementById('drawer-category-quotes').style.textDecoration = "underline";
    } else if (category == '/views/discover.html' || (/discover/).test(category)) {
        document.getElementById('drawer-category-discover').style.textDecoration = "underline";
    } else if (category == '/views/chocolates.html' || (/chocolates/).test(category)) {
        document.getElementById('drawer-category-chocolates').style.textDecoration = "underline";
    } else if (category == '/views/strawhat.html' || (/strawhat/).test(category)) {
        document.getElementById('drawer-category-captain').style.textDecoration = "underline";
    } else if (category == '/views/wiki.html' || (/wiki/).test(category)) {
        // document.getElementById('drawer-category-wiki').style.textDecoration = "underline";
    } else {
        document.getElementById('drawer-category-archive').style.textDecoration = "underline";
    }
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: { 
            inlineMath: [ ['$','$'], ['\\(','\\)'] ],
            processEscapes: true
        },
        "HTML-CSS": {
            availableFonts: [],
            preferredFont: null,
            webFont: "STIX-Web",
            imageFont: null
        }
    });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-110574634-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-110574634-1');
</script>