<head>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% if include.title %}
		<title>{% if include.title %} {{include.title}}{% endif %} - Zerol's Paintings</title>
		{% else %}
		<title>Zerol's Paintings</title>
		{% endif %}
	
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/css/syntax.css" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/zerol">
	</head>
	