<style>
    #issues_thread a.gitment-footer-project-link, a.gitment-footer-project-link:visited, a.gitment-editor-login-link, a.gitment-editor-login-link:visited {
        color: #657b83 !important;
    }
    #issues_thread .gitment-editor-submit, .gitment-comments-init-btn {
        background-color: #657b83 !important;
        outline: none !important;
    }
    #issues_thread .gitment-comments-init-btn:disabled, .gitment-editor-submit:disabled {
        background-color: #657b83 !important;
    }
    #issues_thread a.gitment-editor-footer-tip {
        color: #657b83 !important; 
        outline: none !important; 
    }
    #issues_thread a.gitment-editor-footer-tip:hover {
        color: #657b83 !important; 
        outline: none !important;
        text-decoration: underline !important;
    }
</style>
<div id="issues_thread"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    console.log('asdfad');
    var gitment = new Gitment({
        owner: 'zeroooooooo',
        repo: 'notes',
        oauth: {
            client_id: '975a5fde9f0d0b509d35',
            client_secret: '063bd3eca9f6269054dd81d9a9bd6a8cc5f59f12',
        },
    })
    gitment.render('issues_thread')
</script>
<noscript>Please enable JavaScript to view the comments powered by Gitment </noscript>