<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	{% include header.html %}
	<style>
		blockquote {
			border-left: 5px solid #039BE5;
		}
	</style>
	<body>
		{% include header_nav.html %}
		<div class="wrapper main">
			<blockquote id="intro">
				<p>每一次尝试的巧克力的味道都是不一样的。</p>
				<br />
			</blockquote>
		
			<div id="content" class="index">
				<div id="main">
				{{ content }}
				</div>
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>

-